* {
	margin: 0;
	padding: 0;
}

@font-face {
	font-family: 'baloo_bhaijaan';
	src: url(font/BalooBhaijaan2-Regular.ttf);
}

/* checkout */
.checkout {
	/* background-color: lightgrey; */
	width: 780px;
	margin: 40px auto;
	padding: 25px;
	box-shadow: 6px 6px 8px lightgrey;
    border-radius: 5px;
}

.checkout .wrapper {
	display: flex;
	justify-content: center;
	border: 1px solid limegreen;
    border-radius: 5px;
	/* padding: 18px; */
}

.checkout .img-product {
	/* background-color: lightgreen; */
	text-align: center;
	flex: 1;
	padding-top: 50px;
}

.checkout .img-product h1 {
	font-family: 'baloo_bhaijaan';
}

.form-check .img-product p {
	font-family: Cambria, Georgia, Times, "Times New Roman", serif;
}

.checkout .img-product img {
	width: 220px;
	height: 220px;
    object-fit: contain;
	/* background-color: salmon; */
}

.checkout .form-check {
	background-color: limegreen;
	/* border: 1px solid black; */
	padding: 18px;
}

.checkout .form-check h2 {
	border-bottom: 2px solid;
	font-family: 'baloo_bhaijaan';
	margin-bottom: 18px;
	color: white;
}

.checkout .form-check label {
	font-family: Cambria, Georgia, Times, "Times New Roman", serif;
	color: white;
}

.checkout .form-check input, textarea {
	width: 313px;
	margin-bottom: 10px;
	padding: 4px 4px;
	font-family: sans-serif;
	font-size: 13px;
	border: none;
    border-radius: 5px;
}

.checkout .form-check button {
	width: 100%;
	margin-top: 10px;
	border: none;
	border-radius: 5px;
    background-color: black;
	font-weight: bold;
    font-size: 14px;
    font-family: 'baloo_bhaijaan';
	color: white;
	cursor: pointer;
	padding: 8px 4px;
}

.checkout .form-check button:hover {
	transition: 0.2s;
    background-color: #279227;
}

/*rincian checkout*/
.rincian-checkout {
	margin-bottom: 7rem;
}

.rincian-checkout .wrapper {
	max-width: 780px;
	margin: 40px auto;
	padding: 25px;
    border-radius: 5px;
    border: 1px solid lightgrey;
    color: #1E272E;
}

.rincian-checkout h1 {
	text-align: center;
	text-transform: uppercase;
	font-size: 30px;
}

.rincian-checkout .rincian {
	margin: 12px 0px 10px 0px;
}

.rincian-checkout .rincian h2 {
	font-size: 18px;
	margin-bottom: 10px;
	text-align: center;
}

.rincian-checkout table {
	width: 100%;
	border: none;
}

.rincian-checkout tr td {
	padding: 4px 0;
}

.total {
	text-align: center;
	border: 1px solid lightgrey;
	border-radius: 5px;
	padding: 10px 0px;
	margin-bottom: 15px;
}

.total p {
	font-size: 20px;
	margin-top: 5px;
}

.cara-pembayaran {
	padding: 0px 20px;
	border-bottom: 1px solid #1E272E;
	border-top: 1px solid #1E272E;
	padding-bottom: 12px;
	padding-top: 12px;
}

.cetak-pembayaran button {
	width: 100%;
	margin-top: 20px;
	padding: 12px 0;
	border: none;
	cursor: pointer;
	background-color: limegreen;
	border-radius: 5px;
	color: white;
	font-size: 14px;
	font-weight: bold;
}

.cetak-pembayaran button:hover {
	background-color: #279227;
	transition: 0.2s;
}

/* responsive */
@media screen and (max-width: 1024px) {
    footer .footer {
        flex-direction: column;
    }

    footer .section1, .section2, .section3, .section4 {
        /* background-color: grey; */
        width: 500px;
        margin: 20px auto;
    }

    footer .section3 table tr td {
        border: none;
        width: 100%;
    }

    .rincian-checkout {
		padding: 0 25px;
	}
}

@media screen and (max-width: 800px) {
	.checkout .img-product img {
		width: 200px;
		height: 200px;
		/* background-color: salmon; */
	}

	.checkout {
		width: 600px;
	}

	.checkout .form-check {
		width: 280px;
	}

	.checkout .form-check input, textarea {
		width: 100%;
		box-sizing: border-box;
	}

	.rincian-checkout {
		padding: 0 30px;
	}

	footer .section1, .section2, .section3, .section4 {
		/* background-color: grey; */
		width: 375px;
	}
}

@media screen and (max-width: 600px) {
	.nav {
        padding: 0 25px;
    }
    
    .nav .menu {
        display: none;
    }

    .nav #icon {
        display: block;
        /* background-color: grey; */
    }

	.checkout .img-product img {
		width: 185px;
		height: 185px;
		/* background-color: salmon; */
	}

	.checkout .wrapper {
		flex-direction: column;
	}

	.checkout {
		/* background-color: lightgrey; */
		width: 310px;
	}

	.checkout .img-product {
		padding: 50px 0;
	}

	.checkout .form-check {
		width: auto;
	}

	footer .section1, .section2, .section3, .section4 {
        /* background-color: grey; */
        width: 300px;
    }

    .rincian-checkout h1 {
		font-size: 25px;
	}

	.rincian-checkout .rincian h2 {
		font-size: 15px;
	}

	.rincian-checkout table {
		font-size: 14px;
	}

	.total h3 {
		font-size: 16px;
	}

	.total p {
		font-size: 15px;
	}

	.cara-pembayaran {
		font-size: 12px;
		line-height: 18px;
	}

}

@media screen and (max-width: 500px) {
    footer .section1, .section2, .section3, .section4 {
        width: 275px;
    }
}

@media screen and (max-width: 400px) {
	.checkout {
		width: 275px;
	}
}

@media screen and (max-width: 350px) {
	.checkout {
		width: 220px;
	}

	.checkout .img-product img {
		width: 175px;
		height: 175px;
	}

	footer .section1, .section2, .section3, .section4 {
        width: 245px;
    }
}